#header {
    text-align: center;
    color: white;
    background: red;
}

.team_member_name {
    background: blue;
    color: white;
}

.team_member_role {
    background: blue;
    color: white;
}